@font-face {
	font-family: RobotoMono;
	src: url(fonts/RobotoMono-Regular.ttf);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 3px solid #333333;
	border-radius: 10px;
	background-color: #333333;
}

body {
	font-family: RobotoMono;
	background: rgb(255,0,0);
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(156,0,0,1) 100%);
	text-align: center;
	color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: #999999;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: 3px;
}

li a:hover:not(.active) {
	background-color: #2723AD;
}

li a.active {
	color: white;
	background-color: #FF0000;
}

li img {
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
}