@font-face {
	font-family: RobotoMono;
	src: url(fonts/RobotoMono-Regular.ttf);
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 3px solid #333333;
	background-color: #333333;
}

body {
	font-family: RobotoMono;
	background-image: url(res/background-gradient.png);
}

li {
	float: left;
}

li a {
	display: block;
	color: #999999;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin-top: 3px;
}

li a:hover:not(.active) {
	background-color: #555555;
}

li a.active {
	color: white;
	background-color: #FF0000;
}

li img {
	margin-left: 3px;
	margin-top: 3px;
	margin-right: 3px;
}